@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        -webkit-tap-highlight-color: transparent;
        font-family: Space Grotesk, sans-serif;
        scrollbar-gutter: stable both-edges;
        overflow-x: hidden;
    }

    ::selection {
        @apply bg-[#0c69ff] text-white dark:bg-[#00a3e4];
    }

    ::-webkit-scrollbar {
        @apply w-3;
    }

    ::-webkit-scrollbar-track {
        @apply bg-[#cbcccd77] dark:bg-[#4b4e4e77];
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-[#97999b77] dark:bg-[#7d828277];
    }

    ::-webkit-scrollbar-thumb:hover {
        @apply bg-[#70737577] dark:bg-[#a4a8a877];
    }

    html.disco body {
        animation: disco-mode 10s infinite alternate;
    }

    @keyframes disco-mode {
        0% { @apply bg-body-dark; }
        10% { @apply bg-[hsl(0,37%,8%)]; }
        20% { @apply bg-[hsl(320,37%,8%)]; }
        30% { @apply bg-[hsl(296,37%,8%)]; }
        40% { @apply bg-[hsl(68,37%,8%)]; }
        50% { @apply bg-[hsl(92,37%,8%)]; }
        60% { @apply bg-[hsl(0,35%,8%)]; }
        70% { @apply bg-[hsl(240,37%,8%)]; }
        80% { @apply bg-[hsl(116,37%,8%)]; }
        90% { @apply bg-[hsl(204,37%,8%)]; }
        100% { @apply bg-[hsl(176,37%,8%)]; }
    }
}

@layer utilities {
    .focus-ring-loose {
        @apply focus-visible:outline-offset-8;
    }
}

@layer components {
    .transition-hover {
        @apply hover:transition-colors active:transition-colors;
    }

    .focus-ring {
        @apply focus-visible:outline-none focus-visible:outline-2 focus-visible:outline-offset-[-2px]
            focus-visible:outline-[#0c69ff] dark:focus-visible:outline-[#66d4ff];
    }

    .border-thick-bottom {
        @apply border-2 border-b-4 border-border-light dark:border-border-dark;
    }

    .border-uniform {
        @apply border-2 border-border-light dark:border-border-dark;
    }

    .link {
        @apply hover:text-[#0c69ff] active:text-[#0c69ff]
            hover:dark:text-[#66d4ff] active:dark:text-[#66d4ff];
    }

    .active-link {
        @apply text-[#0c69ff] dark:text-[#66d4ff];
    }

    .speech-bubble:after {
        @apply absolute bottom-[-12px] left-1/2 z-[1] ml-[-12px] block w-0 
        border-x-[12px] border-t-[12px] border-solid border-y-bg-light
        border-x-transparent dark:border-y-bg-dark;
        content: "";
    }

    .speech-bubble:before {
        @apply absolute bottom-[-15px] left-1/2 z-[0] ml-[-14px] block w-0 
        border-x-[14px] border-t-[14px] border-solid border-y-border-light
        border-x-transparent dark:border-y-border-dark;
        content: "";
    }
}
